<%- include('partials/header', { title: "Landing" }) %>

<h1>Welcome, <%= user.username %></h1>
<% if (USERS) { %>
    <h2>All Users (Admin Access)</h2>
    <ul>
        <% USERS.forEach(user => { %>
            <li><%= user.name %> <%= user.email %>- Role: <%= user.role %></li>
        <% }) %>
    </ul>
<% } else { %>
    <p>You do not have access to view all users.</p>
<% } %>
<form action="/logout" method="post">
    <button type="submit">Logout</button>
</form>

<%- include('partials/footer') %>