<%- include('partials/header', { title: "Landing" }) %>

<% layout('layouts/layout') %>
<h2>Welcome, <%= user.username %>!</h2>
<% if (user.role === 'admin') { %>
  <h3>All Users:</h3>
  <ul>
    <% users.forEach(u => { %>
      <li><%= u.username %> - <%= u.email %> (<%= u.role %>)</li>
    <% }) %>
  </ul>
<% } else { %>
  <p>Your Dashboard.</p>
<% } %>
<form action="/logout" method="POST">
  <button type="submit">Logout</button>
</form>
<a href="/logout">Logout</a>

<%- include('partials/footer') %>